<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll Dashboard | Voting App</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<%- include('../partials/header', { loggedIn: true }) %>



<div class="main-content">
    <h1>Active Polls</h1>
    <ul id="polls">
        <% polls.forEach((poll) => { %>
            <li class="poll-container" id="<%= poll.id %>">
                <h2><%= poll.question %></h2>
                <ul class="poll-options">
                    <% poll.options.forEach(({ answer, votes }) => { %>
                        <li id="<%= poll.id %>_<%= answer %>">
                            <strong><%= answer %>:</strong> <%= votes %> votes
                        </li>
                    <% }) %>
                </ul>
                <form class="poll-form button-container" action="/vote" method="post">
                    <% poll.options.forEach(({ answer }) => { %>
                        <button class="action-button vote-button" type="submit" value="<%= answer %>" name="poll-option">
                            Vote for <%= answer %>
                        </button>
                    <% }) %>
                    <input type="text" style="display: none;" value="<%= poll.id %>" name="poll-id"/>
                </form>
            </li>
        <% }) %>
    </ul>

    <% if (polls.length === 0) { %>
        <p>No polls available. <a href="/createPoll">Create a poll</a>.</p>
    <% } %>


        <!-- Display this button if the user is logged in -->
<a href="/createPoll" class="action-button">Create a New Poll</a>

</div>

<script src="/frontend.js" type="application/javascript"></script>

</body>
</html>
